.DS_Store
Temp/
Library/AnnotationManager
Library/AssetImportState
Library/AssetVersioning.db
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/EditorSettings.asset
Library/EditorUserBuildSettings.asset
Library/FailedAssetImports.txt
Library/InspectorExpandedItems.asset
Library/MonoManager.asset
Library/ScriptAssemblies/
Library/ScriptMapper
Library/ServerPreferences.plist
Library/assetDatabase3
Library/assetservercachev3
Library/cache/
Library/expandedItems
Library/guidmapper
Library/metadata/
Library/previews/
Assets/.DS_StoreAssembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor-vs.csproj
SRPGCK-csharp.sln
SRPGCK.slnAssembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass.pidb
Assembly-CSharp.pidb
SRPGCK.userprefs
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass.pidb
Assembly-CSharp.pidb
SRPGCK-csharp.sln
SRPGCK.sln
